.bg-image {
  background-clip: content-box;
  position: fixed;
  background-image: url("../assets/bg-image-events.JPG");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 92svh;
  z-index: -1;
}

.content-wrapper {
  position: relative;
  z-index: 1; /* Ensures content is above the background */
  min-height: 92vh; /* Ensures the content wrapper covers the viewport */
  padding-bottom: 100px; /* Adjust based on the footer height */
}

.bg-glow {
  -webkit-box-shadow: 0 0 8px green;
  -moz-box-shadow: 0 0 8px green;
  box-shadow: 0 0 8px green;
}
