.hero-section {
  height: 90svh;
}
.background-image {
  background-clip: content-box;
  background-image: url("../assets/background-image.jpg");
  position: fixed;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 90svh;
  z-index: -1;
  width: 92%;
}
.custom-shadow {
  -moz-box-shadow: 3px 3px 3px #000000;
  -webkit-box-shadow: 3px 3px 3px #000000;
  box-shadow: 3px 3px 3px #F000000FF;
}

.text-container {
  position: relative;
  z-index: 1;
  padding: 20px; /* Add padding to create a solid background */
  background-color: rgba(
    255,
    255,
    255,
    0.8
  ); /* Set a semi-transparent white background */
}

.text-content {
  color: black; /* Adjust text color as needed */
}

.about-section {
  background-color: white;
  padding: 20px; /* Add padding to create a solid background */
}
